

:root {
    /* --padding-inline: 160px; */
    --padding-inline: 11vw;
    --header-bar-height: 45px;
    --padding-menu:24px;
    --gap-base: 24px;
    --gap-low: 14px;
    --gap-mid: 42px;
    --gap-5: 32px;
    /*basic colors */
    --color-dark: #262626;
    --color-light: #ffffff;
    --color-yellow: #FBCA2B;

    /* mean color */
    --background-main: var(--color-light);
    --background-secondary: var(--color-dark);
    --text-color: var(--color-dark);
    --text-color-light: var(--color-light);

}

@media (max-width:1880px) {
    :root {
        --padding-inline: 160px;
        --header-bar-height: 45px;
        --padding-menu:16px;
        --gap-base: 24px;
        --gap-low: 14px;
        --gap-mid: 42px;
        --gap-5: 32px;
    }
}
@media (max-width:1500px) {
    :root {
        --padding-menu:8px;
        
    }
}


@font-face {
    font-family: AbarLow;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/woff2/AbarLow-Regular.woff2') format('woff2'),
        url('/assets/fonts/woff/AbarLow-Regular.woff') format('woff');

}

@font-face {
    font-family: AbarLow;
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/woff2/AbarLow-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/woff/AbarLow-SemiBold.woff') format('woff');

}

@font-face {
    font-family: AbarLow;
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/woff2/AbarLow-Bold.woff2') format('woff2'),
        url('/assets/fonts/woff/AbarLow-Bold.woff') format('woff');

}

@font-face {
    font-family: AbarLow;
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/woff2/AbarLow-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/woff/AbarLow-ExtraBold.woff') format('woff');

}


* {
    box-sizing: border-box;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--background-main);
    color: var(--text-color);
    width: 100%;
    font-family: AbarLow;
    @media (max-width:1350px) {
        font-size: 15px;
    }
}

body>#side-shortcut{
    position: fixed;
    top: 50%;
    right: 0;
    width: 67px;
    height: fit-content;
    max-height: 80vh;
    border-radius: 22px;
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    z-index: 10;
    button{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 22px;
        background: none ;
        align-items: center;
        justify-content: center;
    }
    button:hover{
        background: var(--background-secondary) !important;
    }
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    >*{
        flex: 1;
    }
}
body>main {
    width: 100%;
}

main>section {
    width: 100%;
}

main>section:not(.no-inline-padding) {
    padding-inline: var(--padding-inline);
}

a {
    text-decoration: none;
}

.button,
button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    transition: 0.3s ease;
    background: var(--background-secondary);
    color: var(--text-color-light);
    gap: 8px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.button-cta {
    background-color: var(--color-yellow);
    color: var(--color-dark);
    padding: 10px 20px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input,
button,
select {
    font-family: AbarLow;
}

.date-with-icon{
    display: flex;
    gap: 4px;
}
.date-with-icon::before {
    content: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2176_2055)"><path d="M4.93821 4.78613H4.2417V5.48264H4.93821V4.78613Z" fill="%23666666"/><path d="M6.95811 4.78613H6.2616V5.48264H6.95811V4.78613Z" fill="%23666666"/><path d="M2.22183 5.48242H2.91833V4.78591H2.22183V5.48242Z" fill="%23666666"/><path d="M4.93821 6.40186H4.2417V7.09837H4.93821V6.40186Z" fill="%23666666"/><path d="M6.95811 6.40186H6.2616V7.09837H6.95811V6.40186Z" fill="%23666666"/><path d="M2.22183 7.09863H2.91833V6.40212H2.22183V7.09863Z" fill="%23666666"/><path d="M0 0.000976562V9.18098H9.18V0.000976562H0ZM8.48349 7.78796C8.48349 8.17104 8.17006 8.48447 7.78698 8.48447H1.39302C1.00994 8.48447 0.69651 8.17104 0.69651 7.78796V1.394C0.69651 1.01092 1.00994 0.697486 1.39302 0.697486H1.59501C1.94326 0.697486 2.22187 0.97609 2.22187 1.32435V2.2507H2.91838V1.32435C2.91838 0.97609 3.19698 0.697486 3.54524 0.697486H5.6278C5.97605 0.697486 6.25466 0.97609 6.25466 1.32435V2.2507H6.95117V1.32435C6.95117 0.97609 7.22977 0.697486 7.57803 0.697486C8.07255 0.697486 8.47653 1.10146 8.47653 1.59598V7.78796H8.48349Z" fill="%23666666"/></g><defs><clipPath id="clip0_2176_2055"><rect width="9.18" height="9.18" fill="white" transform="translate(0 0.000976562)"/></clipPath></defs></svg>');
}

.arrow:dir(ltr){
    rotate: 180deg;
}

.list-wrapper {
    position: relative;
    .direction-list-button {
        padding: 0;
        width: 50px;
        aspect-ratio: 1/1;
        background: #DFDFDF;
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translate(50%, -50%);
        z-index: 2;
    }

    .direction-list-button.forward {
        right: unset;
        left: 0;
        transform: translate(-50%, -50%);

        svg {
            transform: rotate(180deg);


        }
    }
}



.list-horizontal-scroll {
    padding: 0;
    margin: 0;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    list-style: none;
    gap: var(--gap-base);

    .card {
        width: 205px;
        height: 304px;
        border-radius: 20px;
        /* overflow: hidden; */
        border: 1px #DFDFDF solid;
        background: var(--background-main);

        .notification {
            width: 32px;
            height: 24px;
            background-color: #e9e9e9;
            position: absolute;
            top: 7px;
            right: 7px;
        }

        .content-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            font-size: 12px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .image-wrapper {
                height: 115px;
                overflow: hidden;
                padding: 20px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    filter: grayscale(1);
                }
            }

            .content {
                >* {
                    padding-inline: 6px;
                }
            }

            .header {
                border-bottom: 0.2px solid #000;
                padding-bottom: 12px;
                margin-bottom: 12px;

                .col:last-child {
                    max-width: 60px;
                    text-align: center;
                }

            }

            .info .row {
                p:nth-child(2) {
                    font-weight: 600;
                    flex: unset;
                    /* width: 60px; */
                }
            }

            .row {
                justify-content: space-between;
            }

            .name {
                font-size: 15px;
                font-weight: 800;
            }

            .value {
                font-weight: 600;
                font-size: 12px;
            }

            .action-center {
                gap: 5px;
                margin-top: 10px;
            }

            .button {
                background-color: transparent;
                color: var(--text-color);
                font-weight: 600;
                border: 1px solid;
                font-size: 11px;
                padding: 2px 8px;
                gap: 5px;

                svg {
                    fill: var(--text-color)
                }
            }

            .button.yellow {
                border-color: var(--color-yellow);
                color: var(--color-yellow);

                svg {
                    fill: var(--color-yellow)
                }

            }

            /* svg{
                fill:var(--text-color)
            } */
        }

        .content-wrapper:hover {
            img {
                filter: grayscale(0);
            }

            .action-center {
                .button {
                    background-color: var(--background-secondary);
                    color: var(--background-main);

                    svg {
                        fill: var(--background-main);
                    }
                }

                .button.yellow {
                    background-color: var(--color-yellow);
                    color: var(--text-color);

                    svg {
                        fill: var(--text-color);
                    }
                }
            }
        }
    }
}
.list-horizontal-scroll::-webkit-scrollbar{
    display: none;
}